<div data-hook="admin_property_types_form_fields" class="row">
  <div class="alpha four columns">
    <%= f.field_container :name do %>
      <%= f.label :name, Spree.t(:name) %>
      <%= f.text_field :name, :class => 'fullwidth' %>
    <% end %>
  </div>

  <div class="six columns omega">
    <%= f.field_container :show do %>
      <%= f.label :show, Spree.t(:show) %><br>
      <%= f.select :show, Spree::PropertyType.show_where.map {|k,v| [v,k]},
                   {:include_blank => t(:default)}, :class => 'select2 fullwidth' %>
    <% end %>
  </div>
</div>
