<div data-hook="admin_property_types_form_fields" class="row">
  <div class="col-md-6">
    <%= f.field_container :name do %>
      <%= f.label :name, Spree.t(:name) %>
      <%= f.text_field :name, class: 'form-control'  %>
    <% end %>
  </div>

  <div class="col-md-6">
    <%= f.field_container :presentation do %>
      <%= f.label :presentation, Spree.t(:presentation) %>
      <%= f.text_field :presentation, class: 'form-control'  %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= f.field_container :show do %>
        <%= f.label :show, Spree.t(:show) %><br>
        <% Spree::PropertyType.show_where.each do |k,v| %>
            <div class="<%= cycle("field five columns alpha", "field five columns omega")%>">
              <%= check_box_tag "pts_#{k}", 1, @property_type.show_parts.include?(k) %>
              <%= label_tag nil, v %> <br>
            </div>
        <% end %>
    <% end %>
  </div>
</div>