<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @spree_admin_property_type.name %>
</p>

<p>
  <b>Show:</b>
  <%= @spree_admin_property_type.show %>
</p>


<%= link_to 'Edit', edit_spree_admin_property_type_path(@spree_admin_property_type) %> |
<%= link_to 'Back', spree_admin_property_types_path %>
