<div data-hook="product_properties_below_description">

  <% Spree::PROPERTIES_RIGHT.each do |show_type| %>
    <% unless @product_properties.hash_for(show_type).empty? %>
      <% for title in @product_properties.hash_for(show_type).keys %>

        <% if show_type == Spree::PROPERTY_SHOW_DESC_NORMAL %>
          <h6 class="product-section-title"><%= title %></h6>
          <dl id="product-properties-<%=title.downcase.underscore %>">
            <% for product_property in @product_properties.hash_for(show_type)[title] %>
              <dt><%= product_property.property.presentation %></dt>
              <dd><%= product_property.value %></dd>
            <% end %>
          </dl>

        <% elsif show_type == Spree::PROPERTY_SHOW_DESC_NAME %>

        <!-- this one here is ok -->
        <div class="property-group">
          <h6 class="product-section-title"><%= title %></h6>
          <ul id="product-properties-<%=title.to_url %>" class="inline">
            <%
              count = @product_properties.hash_for(show_type)[title].count
              index = 0
              columns = 3
              for product_property in @product_properties.hash_for(show_type)[title]
                index += 1
                css = ['three', 'columns']
                css << 'alpha' if index % columns == 1
                css << 'omega' if index % columns == 0 || index == count
            %>
              <li class="<%= css.join(' ') %>">
                <i class="fa fa-check"></i> <%= product_property.property.presentation %>
              </li>
            <% end %>
          </ul>
        </div>

        <% elsif show_type == Spree::PROPERTY_SHOW_DESC_BOTH %>

          <h6 class="product-section-title"><%= title %></h6>
          <ul id="product-properties-<%=title.downcase.underscore %>">
            <% for product_property in @product_properties.hash_for(show_type)[title] %>
              <li class="three columns">
                <%= image_tag product_property.property.icon(:mini) %>
                <%= product_property.value %>
              </li>
            <% end %>
          </ul>

        <% elsif show_type == Spree::PROPERTY_SHOW_DESC_ICON %>

          <h6 class="product-section-title"><%= title %></h6>
          <ul class="thumbnails inline" id="product-properties-<%=title.downcase.underscore %>">
            <% for product_property in @product_properties.hash_for(show_type)[title] %>
              <li class='tmb-all'>
                <%= image_tag(product_property.property.icon(:mini)) %>
              </li>
            <% end %>
          </ul>

        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
