<div data-hook="product_properties_below_description">

  <% ConstantPropertyType.left_properties.each do |show_type| %>
    <% unless @product_properties.hash_for(show_type).empty? %>
      <% for title in @product_properties.hash_for(show_type).keys %>
        <h6 class="product-section-title"><%= title %></h6>

        <% if show_type == ConstantPropertyType::PROPERTY_SHOW_DESC_NORMAL %>

          <dl id="product-properties-<%=title.downcase.underscore %>">
            <% for product_property in @product_properties.hash_for(show_type)[title] %>
              <dt><%= product_property.property.presentation %></dt>
              <dd><%= product_property.value %></dd>
            <% end %>
          </dl>

        <% elsif show_type == ConstantPropertyType::PROPERTY_SHOW_DESC_NAME %>

          <ul id="product-properties-<%=title.downcase.underscore %>">
            <% for product_property in @product_properties.hash_for(show_type)[title] %>
              <li class="three columns">
                <%= product_property.property.presentation %>
              </li>
            <% end %>
            </ul>

        <% elsif show_type == ConstantPropertyType::PROPERTY_SHOW_LEFT_NORMAL %>

          <ul id="product-properties-<%=title.downcase.underscore %>">
            <% for product_property in @product_properties.hash_for(show_type)[title] %>
              <li class="three columns">
                <%= image_tag product_property.property.icon(:mini) %>
                <%= product_property.value %>
              </li>
            <% end %>
          </ul>

        <% elsif show_type == ConstantPropertyType::PROPERTY_SHOW_LEFT_ICON %>

          <ul class="thumbnails inline" data-hook>
            <% @product_properties.hash_for(show_type)[title].each do |product_property| %>
              <li class='tmb-all'>
                <%= image_tag(product_property.property.icon(:mini)) %>
              </li>
            <% end %>
          </ul>


        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
